# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# environment
.env
.env*.local

# macOS
.DS_Store

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# generated native folders
/ios
/android

# TypeScript cache
*.tsbuildinfo